<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width-device-width, initial-scale-1.0" />
    <title>PetPalace</title>
    <link rel="stylesheet" th:href="@{/css/New.css}" />
</head>

<body>

<div class="header">
    <nav>
        <h2 class="logo">PET PALACE</h2>
        <ul class="nav-links">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="http://localhost:8080/homepage">Cat</a></li>
            <li><a href="http://localhost:8080/cat">Dog</a></li>
            <li><a href="#">Other Animal</a></li>
            <!-- Modified this line -->
            <li><a href="#">Shelter and Rescue</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        <a href="http://localhost:8080/signup" class="reg-button">Sign up</a>
    </nav>

    <div>
        <h2 class="text1">Pet Harmony</h2>
        <h2 class="text2">Tailored Adoptions for Lifelong Bonds</h2>
        <h4 class="text3">

            Welcome to Pet Harmony, where we believe in creating<br />
            perfect matches between pets and their forever families.<br />
            Our mission is to facilitate meaningful connections,<br />
            ensuring that every adoption is a harmonious blend of<br />
            love and companionship. . . . . . . . . . .

        </h4>
    </div>
</div>

<div>
    <h2 class="features-title">Find your new best friend</h2>
    <ul class="image-features">
        <li>
            <a href="http://localhost:8080/dog"><img src="image/dog.jpg" />
                <span>
            <h2>Dog</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/cat.jpg" />
                <span>
            <h2>Cat</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/parrot.jpg" />
                <span>
            <h2>Parrot</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/animal.jpg" />
                <span>
            <h2>Other Animal</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/selter.jpg" />
                <span>
            <h2>shelter and rescue </h2>
          </span>
            </a>
        </li>

        <!-- Add more images as needed -->
    </ul>
</div>
<div>
    <h2 class="features-title">Pets Available for Adoption Nearby</h2>
    <ul class="image-features">
        <li>
            <a href="http://localhost:8080/cat"><img src="image/dog10.jpg" />
                <span>
            <h2>Dog</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/cat1.jpg" />
                <span>
            <h2>Cat</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/parrot1.jpg" />
                <span>
            <h2>Parrot</h2>
          </span>
            </a>
        </li>
        <li>
            <a href="#"><img src="image/animal.jpg" />
                <span>
            <h2>Other Animal</h2>
          </span>
            </a>
        </li>


        <!-- Add more images as needed -->
    </ul>
</div>
</body>

</html>